body {
	background-image: url('../assets/maxresdefault.jpg');
	margin 10px;
	color: white;
}
.red {
	border: solid 10px;
	border-color: red;
}

.option {
	max-width: 250px;
	max-height: 250px;
}

h3 {
	color: white;
}

button {
	background-color: grey;
}

input, select, textarea{
    color: black;
}

textarea:focus, input:focus {
    color: black;
}